<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- base_content.html -->
{% load i18n extra_tags extra_filters ui_registry %}
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>{% block after_head_js %}{% endblock %}
        <title>Jalanadvisor - Best Malaysia and Singapore Q&A Travel Forum.</title>
        <meta name="description" content="{% block metadescription %}{{ settings.APP_DESCRIPTION }}{% endblock %}" />
        <meta name="keywords" content="{% block metakeywords %}{{ settings.APP_KEYWORDS }}{% endblock %}" />
        <meta name="google-site-verification" content="nIPRDcEt_YW7RDaUlznqNemh7f7roXhgxdxASEMINxA" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,minimum-scale=1">
        {% block meta %}{% endblock %}
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        {% if settings.GOOGLE_SITEMAP_CODE %}
        <meta name="google-site-verification" content="{{ settings.GOOGLE_SITEMAP_CODE }}" />
        {% endif %}
        <link rel="shortcut icon" href="http://www.catchthatbus.com/favicon.ico" />
        <link href="{% media  "/media/style/style.css" %}?v=71" rel="stylesheet" type="text/css" />
        {% if settings.USE_CUSTOM_CSS|or_preview:request %}
        <link href="{% url "custom_css" %}" rel="stylesheet" type="text/css" />
        {% endif %}
        <link rel="stylesheet" type="text/css" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/base/jquery-ui.css" />
        <!--[if IE 6]>
        <style type="text/css">
        img, div, a { behavior: url({% media "/media/iepngfix/iepngfix.htc" %}) }
        </style>
        <![endif]-->
        {% block forestyle %}{% endblock %}

        <script src="//www.google.com/jsapi" type="text/javascript"></script>
        <script type="text/javascript">
        /*<![CDATA[*/
            google.load("jquery", "1");
            google.load("jqueryui", "1", {autoload:true});

            var i18nLang = '{{ settings.LANGUAGE_CODE }}';
            var appUrl = '{{ settings.APP_URL }}'
            var scriptUrl = '{{ settings.FORCE_SCRIPT_NAME }}/'
            var osqaSkin = '{{ settings.OSQA_SKIN }}';

            var messages = {
                username: '{{ user.username }}',
                confirm: "{% trans "Are you sure?" %}",
                yes: "{% trans "Yes" %}",
                no: "{% trans "No" %}",
                message: "{% trans "Message:" %}",
                cancel: "{% trans "Cancel" %}",
                close: "{% trans "Close" %}",
                ok: "{% trans "Ok" %}",
                matching_tags_url: "{% url "matching_tags" %}",
                word: "{% trans "word" %}",
                words: "{% trans "words" %}",
                character: "{% trans "character" %}",
                characters: "{% trans "characters" %}"
            }
        /*]]>*/
        </script>
        <script type="text/javascript" src="{% media  "/media/js/osqa.main.js" %}"></script>
        {% if user_messages %}
        <style type="text/css">
            body { margin-top:2.4em; }
        </style>
        <script type="text/javascript">
            $(document).ready(function() {
                var element = $('#validate_email_alert');
                element.click(function(){notify.close(true);})
                notify.show();
            });
        </script>
        {% endif %}
        {% if settings.USE_CUSTOM_HEAD|or_preview:request %}
            {{ settings.CUSTOM_HEAD|or_preview:request|safe }}
        {% endif %}
        {% block forejs %}{% endblock %}
        <link rel="search" type="application/opensearchdescription+xml" href="{% url "opensearch" %}" title="{{ settings.APP_SHORT_NAME }} Search" />
        {% loadregistry head_content %}{% endloadregistry %}
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-92565190-1', 'auto');
          ga('send', 'pageview');

        </script> 
        <script type="application/ld+json">
          { "@context" : "https://schema.org",
            "@type" : "Organization",
            "name" : "Jalanadvisor",
            "url" : "https://www.jalanadvisor.com/",
            "sameAs" : [ "https://www.facebook.com/Jalanadvisor-656245274564317/",
            "https://twitter.com/jalanadvisor"]
          }
        </script>
        <!-- start Mixpanel -->
        <script type="text/javascript">(function(e,a){if(!a.__SV){var b=window;try{var c,l,i,j=b.location,g=j.hash;c=function(a,b){return(l=a.match(RegExp(b+"=([^&]*)")))?l[1]:null};g&&c(g,"state")&&(i=JSON.parse(decodeURIComponent(c(g,"state"))),"mpeditor"===i.action&&(b.sessionStorage.setItem("_mpcehash",g),history.replaceState(i.desiredHash||"",e.title,j.pathname+j.search)))}catch(m){}var k,h;window.mixpanel=a;a._i=[];a.init=function(b,c,f){function e(b,a){var c=a.split(".");2==c.length&&(b=b[c[0]],a=c[1]);b[a]=function(){b.push([a].concat(Array.prototype.slice.call(arguments,
            0)))}}var d=a;"undefined"!==typeof f?d=a[f]=[]:f="mixpanel";d.people=d.people||[];d.toString=function(b){var a="mixpanel";"mixpanel"!==f&&(a+="."+f);b||(a+=" (stub)");return a};d.people.toString=function(){return d.toString(1)+".people (stub)"};k="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config reset people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
            for(h=0;h<k.length;h++)e(d,k[h]);a._i.push([b,c,f])};a.__SV=1.2;b=e.createElement("script");b.type="text/javascript";b.async=!0;b.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";c=e.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c)}})(document,window.mixpanel||[]);
            mixpanel.init("968169022100fad12bf690d23d1aa6cb");
        </script>
        <!-- end Mixpanel -->
        <!-- Google Optimize -->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-92565190-1', 'auto');
          ga('require', 'GTM-TRBCWV7');
          ga('send', 'pageview');
        </script>
        <!-- end Optimize -->                          
    </head>
    <body>
        <div class="wrapper">
        {% if settings.USE_CUSTOM_HEADER|or_preview:request %}
            <div id="custom_header">
                {{ settings.CUSTOM_HEADER|or_preview:request|static_content:settings.CUSTOM_HEADER_RENDER_MODE }}
            </div>
        {% endif %}
        {% include "header.html" %}
        {% block page_center %}
        <div class="contentWrapper">
            <div id="wrapper">
                <div id="room">
                    <div id="CAFull">
                        {% block content%}
                        {% endblock%}

                    </div>
                    <div id="tail" style="clear:both;">
                        {% block tail %}
                        {% endblock %}
                    </div>
                </div>
                <div class="spacer3"></div>
            </div>
        </div>
        {% endblock %}
        <div id="ground">
            {% include "footer.html" %}
        </div>
        {% comment %}
            {% if settings.USE_CUSTOM_FOOTER|or_preview:request %}
                {% ifequal settings.CUSTOM_FOOTER_MODE|or_preview:request "above" %}
                    <div id="custom_footer">
                        {{ settings.CUSTOM_FOOTER|or_preview:request|static_content:settings.CUSTOM_FOOTER_RENDER_MODE }}
                    </div>
                {% endifequal %}
                <div id="ground">
                    {% ifequal settings.CUSTOM_FOOTER_MODE|or_preview:request "replace" %}
                        {{ settings.CUSTOM_FOOTER|or_preview:request|static_content:settings.CUSTOM_FOOTER_RENDER_MODE }}
                    {% else %}
                        {% include "footer.html" %}
                    {% endifequal %}
                </div>
                {% ifequal settings.CUSTOM_FOOTER_MODE|or_preview:request "below" %}
                    <div id="custom_footer">
                        {{ settings.CUSTOM_FOOTER|or_preview:request|static_content:settings.CUSTOM_FOOTER_RENDER_MODE }}
                    </div>
                {% endifequal %}
            {% else %}
                <div id="ground">
                    {% include "footer.html" %}
                </div>
            {% endif %}
        {% endcomment %}

        {% block endjs %}
        {% endblock %}
        {% if settings.GOOGLE_ANALYTICS_KEY %}
            <script type="text/javascript">
                var _gaq = _gaq || [];
                _gaq.push(['_setAccount', '{{ settings.GOOGLE_ANALYTICS_KEY }}']);
                _gaq.push(['_trackPageview']);

                (function() {
                    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                })();
            </script>
        {% endif %}
        </div>

        <!-- Put all elements with fixed position here, IE6 fixed position fix: http://ryanfait.com/position-fixed-ie6/ -->
        <div class="notify" style="display:none">
            {% autoescape off %}
                {% if user_messages %}
                    {% for message in user_messages %}
                          <p class="darkred">{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endautoescape %}
            <a id="close-notify" onclick="notify.close(true)">&#215;</a>
        </div>

        <!-- Mobile Bottom Ad -->
        <div class="adSlot" style="display: none;">
            <div class="adSlotCTB">

                <span id="socialbar" class="common-classes sized bottom mobile fullwidth fullwidth-forced">
                    <a href="http://www.catchthatbus.com/?utm_source=jalanadvisor-mobile&utm_medium=bottom-ad" target="_blank" id="profilePhotoLink">
                        <img src="{% media  "/media/images/mobileads.jpg" %}" alt="ctb" id="profilePhoto" class="common-classes sized bottom mobile fullwidth fullwidth-forced">
                    </a>
                </span>
                <span class="adWraper">
                    <span class="adText">Buy Bus Tickets Online</span>
                    <span class="adsBtn">
                        <a href="http://www.catchthatbus.com/?utm_source=jalanadvisor-mobile&utm_medium=bottom-ad" class="adButton" target="_blank" rel="nofollow">Book Now</a>
                    </span>
                </span>

            </div>
        </div>

    </body>
</html>
<!-- end template base_content.html -->
