{% load extra_tags ui_registry i18n %}


<div class="footerWaper">

  <ul class="footerLinks">
    <li class="subTitle">Our Products</li>
    <li><a href="https://www.goibibo.com/" target="_blank">goibibo</a></li>
    <li><a href="http://www.redbus.in/" target="_blank">Redbus</a></li>
    <li><a href="http://www.ibiboryde.com/" target="_blank">ibibo Ryde</a></li>
    <li><a href="https://in.goibibo.com/accounts/login/?next=/" target="_blank">ingoibibo</a></li>
    <li><a href="http://www.ibibo.com/bogds/" target="_blank">Bus Operators</a></li>
  </ul>

  <ul class="footerLinks">
      <li class="subTitle">Company</li>
      <li><a href="http://www.ibibo.com/aboutus/" target="_blank">About Us</a></li>
      <li><a href="http://www.ibibo.com/contact/" target="_blank">Contact Us</a></li>
      <li><a target="_blank" href="http://www.goibibo.com/careers/" target="_blank">Careers</a></li>
      <li><a href="https://goibibo.github.io/" target="_blank">Blog</a></li>
      <li><a href="https://goibibo.github.io/" target="_blank">Technology@Goibibo</a></li>
  </ul>

  <ul class="footerLinks">
      <li class="subTitle">Travel Resources</li>
      <li><a href="https://www.goibibo.com/holidays/holiday-packages-india/">Holidays Packages</a></li>
      <li><a href="https://www.goibibo.com/travel-guide/india/" target="_blank">Travel Guide</a></li>
      <li><a href="https://www.goibibo.com/airports/airports-in-india/" target="_blank">Airports in India</a></li>
      <li><a href="https://www.goibibo.com/airports/" target="_blank">International Airports</a></li>
  </ul>

  <ul class="footerLinks">
      <li class="subTitle">More Links</li>
      <li><a href="https://www.goibibo.com/offers/">Goibibo Offers</a> </li>
      <li><a href="http://www.redbus.in/info/OfferTerms">Redbus Offers</a></li>
  </ul>

</div>