{% load extra_tags ui_registry i18n %}


<div class="footerWaper">

  <ul class="footerLinks">
    <li class="subTitle">Top Operators</li>
    <li><a href="http://www.catchthatbus.com/bus-operators/starmart-express-bus-ticket-online" target="_blank">Starmart Express</a></li>
    <li><a href="http://www.catchthatbus.com/bus-operators/transnasional-bus-ticket-online" target="_blank">Transnasional</a></li>
    <li><a href="http://www.catchthatbus.com/bus-operators/airport-coach-bus-ticket-online" target="_blank">Airport Coach</a></li>
    <li><a href="http://www.catchthatbus.com/bus-operators/suasana-edaran-bus-ticket-online" target="_blank">Suasana Edaran Bus</a></li>
    <li><a href="http://www.catchthatbus.com/bus-operators/intercity-coach-bus-ticket-online" target="_blank">Intercity Coach Bus</a></li>
    <li><a href="http://www.catchthatbus.com/bus-operators/nice-executive-coach-bus-ticket-online" target="_blank">Nice Executive Coach</a></li>
  </ul>

  <ul class="footerLinks">
      <li class="subTitle">Top Destinations</li>
      <li><a href="http://www.catchthatbus.com/routes/bus-ticket-kuala-lumpur-to-singapore" target="_blank">Kuala Lumpur to Singapore</a></li>
      <li><a href="http://www.catchthatbus.com/routes/bus-ticket-kuala-lumpur-to-penang" target="_blank">Kuala Lumpur to Penang</a></li>
      <li><a href="http://www.catchthatbus.com/routes/bus-ticket-kuala-lumpur-to-kuantan" target="_blank">Kuala Lumpur to Kuantan</a></li>
      <li><a href="http://www.catchthatbus.com/routes/bus-ticket-kuala-lumpur-to-melaka" target="_blank">Kuala Lumpur to Melaka</a></li>
      <li><a href="http://www.catchthatbus.com/routes/bus-ticket-kuala-lumpur-to-ipoh" target="_blank">Kuala Lumpur to Ipoh</a></li>
      <li><a href="http://www.catchthatbus.com/routes/bus-ticket-melaka-to-alor-setar" target="_blank">Melaka to Alor Setar</a></li>
  </ul>

  <ul class="footerLinks">
      <li class="subTitle">Top Cities</li>
        <li><a href="http://www.catchthatbus.com/buses/kuala-lumpur-bus-tickets" target="_blank">Kuala Lumpur</a></li>
        <li><a href="http://www.catchthatbus.com/buses/malacca-bus-tickets" target="_blank">Melaka (Malacca)</a></li>
        <li><a href="http://www.catchthatbus.com/buses/penang-bus-tickets" target="_blank">Penang</a></li>
        <li><a href="http://www.catchthatbus.com/buses/ipoh-bus-tickets" target="_blank">Ipoh</a></li>
        <li><a href="http://www.catchthatbus.com/buses/kuantan-bus-tickets" target="_blank">Kuantan</a></li>
        <li><a href="http://www.catchthatbus.com/buses/woodlands-bus-tickets" target="_blank">Woodland</a></li>
  </ul>

  <ul class="footerLinks">
      <li class="subTitle">Bus Terminal</li>
        <li> <a href="http://www.catchthatbus.com/terminal/terminal-bersepadu-selatan" target="_blank">Bersepadu Selatan Bus Terminal</a></li>
        <li> <a href="http://www.catchthatbus.com/terminal/melaka-sentral-bus-terminal" target="_blank">Melaka Sentral Bas Terminal</a></li>
        <li> <a href="http://www.catchthatbus.com/terminal/amanjaya-ipoh-bus-terminal" target="_blank">Amanjaya Bus Terminal</a></li>
        <li> <a href="http://www.catchthatbus.com/terminal/kuantan-sentral-bus-terminal" target="_blank">Kuantan Sentral Bus Terminal</a></li>
        <li> <a href="http://www.catchthatbus.com/terminal/kangar-bus-terminal" target="_blank">Kangar Bus Terminal</a></li>
  </ul>

  <ul class="footerLinks">
      <li class="subTitle">More Links</li>
      <li><a href="http://www.catchthatbus.com/blog/" target="_blank">CTB Blog</a></li>
      <li><a href="http://www.catchthatbus.com/download" target="_blank">Mobile Download</a></li>
       <li><a href="http://blog.catchthatbus.com/">Malaysia Travel Guide</a></li>
      <li><a href="/faq/">Jalanadvisor Faq</a></li>
      <li><a href="http://catchthatbus.com/how-it-works">Tour</a></li>
  </ul>

</div>


<div class="ctbGroup">
  <p>Jalanadvisor is a part of <a href="http://www.catchthatbus.com/" target="_blank" style="color: #cc0033;">CatchThatBus</a></p>
</div>